<nav class="navbar navbar-expand navbar-dark bg-dark">

  <!-- Links -->
  <ul class="navbar-nav mr-auto" routerLinkActive="active">
    <li class="nav-item">
        <a routerLink="users" class="nav-link" *ngIf="showUserListBoard">User List</a>
    </li>
    <li class="nav-item">
        <a href="/add" routerLink="add" class="nav-link" *ngIf="showCreateUserBoard">Add User</a>
    </li>
  </ul>

  <ul class="navbar-nav ml-auto" routerLinkActive="active" *ngIf="!isLoggedIn">
    <li class="nav-item">
        <a routerLink="login" class="nav-link">Login</a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">
      <li class="nav-item">
        <a href class="nav-link" (click)="logout()">LogOut</a>
      </li>
    </ul>
</nav>
<div class="container">
  <div class="card">
    <div class="card-body">
  <router-outlet></router-outlet>
    </div>
  </div>
</div>

<footer class="footer">
  <div class="container">
      <span>All Rights Reserved 2020</span>
  </div>
</footer>
